@charset "UTF-8";

*{
  padding: 0px;
}
header{
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 10px;
  margin: 10px 10px 10px 10px green;
  min-height: 150px;
  padding-top: 40px;
}
header h1{
  margin-bottom: 20px;
  font-size: 3em;
  padding-bottom: 30px;
}
div{
  background-color: black;
  border: 10px lightgreen;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
div a{
  background-color:black;
  color: white;
  padding: 10px;
  border: 5px white solid;
  border-radius: 10px;
}

div a:hover{
  background-color: white;

}